// === Colors ===
$title-yellow: #FCE558;
$yellow: #FAD264;
$white: #FFFFFF;
$purple: #320B61;
$purple-text: #42196D;
$black: #000000;
$black-text: #29242C;
$pink: #E130E3;
$stage-1: #312D48;
$stage-2: #4E3D71;
$stage-3: #8E67C0;
$stage-4: #B967C0;
$stage-5: #ED867A;
$days-bg:#F6F6F6;
// === Colors ===